junk/
package/

docs/*
!docs/Doxyfile

thirdparty/*
!thirdparty/thirdparty.sh
!thirdparty/thirdparty.bat

build_scripts/thirdparty/*
!build_scripts/thirdparty/thirdparty.sh
!build_scripts/thirdparty/thirdparty.bat

source/**/generated/*
!source/**/generated/generated.sh
!source/**/generated/generated.bat
source/.vscode/
source/**/*.gch

projects/**/generated/
projects/cmake/**/build*/
projects/mfwbuild/**/data/
projects/vscode/

build_tools/mfwbuilder/console.log
projects/mfwbuild/console.log
